@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li, a, button {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

header {
    box-shadow: gray 0px 0px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background: #ffffff;
}

.logo {
    width: 60px;
    cursor: pointer;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0;
}

.nav-links li a:hover {
    color: #EC255A;
}

button {
    padding: 9px 25px;
    background: rgba(0, 136, 169, 1);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0;
}

button:hover {
    background: #EC255A;
}

.hero {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 40px;
    min-height: 80vh;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

.video-bg{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.wave{
    position: absolute;
    height: 250px;
    width: 100%;
    bottom: 0;
}
