@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

*,*::after,*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: 'Rubik', sans-serif;
}

label {
   color: #EC255A;
}

html {
    scroll-behavior: smooth;
}

li, a, button {
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

header {
    box-shadow: gray 0px 0px 3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    background: #ffffff;
}

.logo {
    max-width: 4rem;
    cursor: pointer;
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0;
}

.nav-links li a:hover {
    color: #EC255A;
}

.hero-section {
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
    min-height: 100vh;
    font-weight: 500;
    position: relative;
    overflow: hidden;
}

.video-bg{
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}

.wave{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 100%;
}

.about-section{
    margin-top: 15em;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.about-title h1 {
    font-size: 7rem;
    font-weight: 500;
}

.about-title p {
    margin: 0 20px;
    font-size: 1rem;
    font-weight: 400;
    max-width: 45ch;
}


.about-image img{
    max-width: 35rem;
}

.jurusan-section{
    margin-top: 15rem;
}

.jurusan-section > h1{
    text-align: center;
    font-size: 6rem;
    margin: 10rem 0;
}

.jurusan {
    display: grid;
    gap: 15rem;
    padding: 2rem;
    margin: 2rem;
}


.jurusan-card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    padding: 2rem;
}

.jurusan-card img{
    max-width: 350px;
    border-radius: 50%;
    border: 3px solid black;
    transition: ease-in 0.1s;
}

.jurusan-card img:hover{
    max-width: 360px;
    cursor: pointer;
    transition: ease-in 0.1s;
}

.jurusan-text h1{
    font-size: 3rem;
    font-weight: 500;
}

.jurusan-text p {
    max-width: 40ch;
}

.testimony-section{
    margin-top: 15em;
}

.testimony {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
    padding: 2em;
}

.testimony-title h1 {
    font-size: 5rem;
    font-weight: 500;
}

.testimony-title p {
    margin-left: 15px;
    text-align: start;
    font-size: 1rem;
    font-weight: 400;
    max-width: 40ch;
}

.testimony-profile {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  place-items: center;
}

.testimony-profile img {
  border: 3px solid black;
  max-width: 6rem;
  border-radius: 50%;
}

swiper-container {
    width: 20rem;
    height: 32rem;
    left: 200px;
  }

  swiper-slide {
    display: grid;
    grid-auto-rows: 1fr;
    border-radius: 18px;
    padding: 1rem;
    border: 3px solid black;
    background: linear-gradient(180deg, #510216, #eb265a);
    color: #fff;
    position: relative;
  }

  swiper-slide::before{
    content: '❝';
    opacity: 0.3;
    font-size: 10rem;
    top: -30px;
    position: absolute;
  }

  swiper-slide::after{
    content: '❞';
    opacity: 0.3;
    font-size: 10rem;
    bottom: 3rem;
    left: 15rem;
    position: absolute;
  }

  swiper-slide p{
    font-size: 1rem;
    font-weight: 400;
  }
